<h2 class="ui-widget-header ui-corner-all">Forget Password?</h2>
<% form_for :user, :url => {:controller => "sessions", :action => "forget_password" } do |form| -%>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
      <legend class="ui-corner-all">Enter Your Email</legend>
      <%= render :partial => "users/email_field_row",
                 :locals => { :form => form } %>
      <div class="form_row">
        <%= submit_tag "I forget my password", :class => "submit ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" %>
      </div>
    </fieldset>
<% end -%>
<br/>

<%= link_to "Home", { :controller => "sessions", :action => "new" }, :class => "ui-button ui-widget ui-state-default ui-corner-all"%>