<div class="form_row">
  <label for="fname">First name:</label>
  <%= form.text_field :fname, :size => User::NAME_SIZE,
                      :maxlength => User::NAME_MAX_LENGTH %>
</div>
<div class="form_row">
  <label for="lname">Last name:</label>
  <%= form.text_field :lname, :size => User::NAME_SIZE,
                      :maxlength => User::NAME_MAX_LENGTH %>
</div>